<div class="bg-light lib-grid py-32">
  <div class="lib-grid-l flex flex-column items-center">
    <div class="relative w-full bg-heavy rounded-[16px] overflow-hidden text-gray-100">
      {{> @partial-block}}
    </div>
  </div>
</div>