{{!< default}}

<div class="gh-page">
  <div class="gh-container">
      {{#author}}
      {{> "section/hero-index"}}
    {{/author}}
  </div>
  {{> "section/title" title="최신 글" subtitle="recent article"}}
  {{> "section/article-inf"}}
</div>
