{{!< default}}

<div class="gh-container flex flex-col flex-1 justify-center">
  <section class="text-center">
    <h1 class="text-9xl font-bold">{{statusCode}}</h1>
    <p class="text-5xl opacity-80">{{message}}</p>
    <p class="pill pill-xl mt-8">
      <a href="{{@site.url}}">블로그 홈으로 ></a>
    </p>
  </section>
</div>