{{!< default}}

{{#post}}
<article class="page {{post_class}}">
    {{#match @page.show_title_and_feature_image}}
        {{#> "container"}}
            {{> "section/hero"}}
        {{/ "container"}}
    {{/match}}

    <div class="gh-content grid lib-grid lib-grid-m">
        {{content}}
    </div>
    
    {{#> "list"}}
        {{content}}
    {{/ "list"}}
</article>
{{/post}}
