{{!< default}}
<div class="gh-page">
  {{> "section/title" title="카테고리" subtitle="category"}}
  <div class="gh-container-sm">
    {{#post}}
      {{#get "tags" limit="all" include="count.posts" order="count.posts desc"}}
        {{> "list/tag"}}
      {{/get}}
    {{/post}}
  </div>
</div>
