/* Read More
/* ---------------------------------------------------------- */

/* .gh-readmore {
  padding: 4rem 1rem;
}

.gh-readmore a {
  display: flex;
  color: currentColor;
  text-decoration: none;
}

.gh-readmore h4 {
  width: 100%;
  @apply text-2xl;
}

@media (max-width: 700px) {
  .gh-readmore h4 {
    @apply text-base;
  }
} */
