{{> "section/title" title="추천 글" subtitle="featured"}}
<div class="w-full bg-heavy px-4 py-8 mb-16 mt-4">
  <div class="gh-container">
    <div class="section-card-4"> 
      {{> "card/article"}}
    </div>
  </div>
</div>