
{{> "section/title" title="추천 글" subtitle="featured"}}
<div class="w-100vw bg-heavy py-8">
  <div class="gh-container">
    <div class="post-feed"> 
      {{> "card/article"}}
    </div>
  </div>
</div>