
{{> "section/title" title="추천 글" subtitle="featured"}}
<div class="w-full bg-heavy py-8">
  <div class="gh-container">
    <div class="section-card"> 
      {{> "card/article"}}
    </div>
  </div>
</div>