/* Lib - Local component imports
/* ---------------------------------------------------------- */

@import "partials/section.css";

/* Base components */
@import "vars.css";
@import "components/global.css";
@import "components/forms.css";
@import "components/buttons.css";
@import "components/list.css";
@import "components/card.css";
/* Ghost components */
@import "ghost/header.css";
@import "ghost/content.css";
@import "ghost/readmore.css";
@import "ghost/members.css";
@import "ghost/errors.css";
@import "ghost/footer.css";
@import "ghost/badge.css";
@import "ghost/pagination.css";
@import "ghost/comments.css";

@import "toc.css";

/* Tailwindcss components */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

.tag {
  @apply text-gray-950 px-2 py-1 text-[11px] font-bold;
  background-color: var(--tag-color, var(--ghost-accent-color));
  text-transform: uppercase;
  border-radius: 0.5rem;
  display: inline-block;
}

.logo {
  max-height: 192px;
}

#ghost-portal-root,
.footer-cta {
  display: none;
}

.u-shadow {
  overflow: hidden;
  border-radius: 0.75rem;
  box-shadow: var(--shadow-base);
  transition: box-shadow 0.3s var(--animation-base);
}

.u-placeholder {
  position: relative;
  z-index: 10;
  background-color: var(--light-gray-color);
}

.same-height {
  height: 0;
}

.rectangle {
  padding-bottom: 56.25%;
}

.u-object-fit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  @apply font-bold text-4xl;
}
h2 {
  @apply font-bold text-3xl;
}
h3 {
  @apply font-bold text-2xl;
}

.u-permalink {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  outline: none;
}

.shadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
}

.bg-light {
  @apply bg-gray-100 dark:bg-gray-950;
  @apply text-gray-950 dark:text-gray-100;
}

.bg-heavy {
  @apply bg-gray-50 dark:bg-gray-900 shadow;
}

.gh-main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.gh-article {
}

.gh-container {
  width: 100%;
  max-width: var(--large);
  margin: 0 auto;
}

.gh-container-sm {
  width: 100%;
  max-width: var(--small);
  margin: 0 auto;
}

.gh-head-actions a:not(.gh-button) {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 10px;
}

.gh-head-actions a svg {
  height: 1.8rem;
  fill: currentcolor;
}

.gh-head-actions a:first-child svg {
  margin-left: 20px;
}

.gh-head-actions a:last-child svg {
  height: 2rem;
}

/* Page
/* ---------------------------------------------------------- */

.gh-page-head {
  margin: 0 auto;
  padding: 8vmin 0 4vmin;
  text-align: center;
}

.gh-page-image {
  margin: 4vmin 0 0 0;
}

.gh-page-head > p {
  max-width: var(--small);
  margin: 0.3em auto 0;
  padding: 0 6vmin;
  font-size: 1.3em;
  line-height: 1.4em;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .gh-page-head > p {
    font-size: 1.6rem;
  }
}

/* Post
/* ---------------------------------------------------------- */

.gh-post-footer {
  margin: 2rem 0;
}

/* Author Archive
/* ---------------------------------------------------------- */

.gh-author-image {
  height: 12vmin;
  width: 12vmin;
  margin: 0 auto 1.5em;
  border-radius: 100%;
  overflow: hidden;
  object-fit: cover;
}

.gh-author-meta {
  margin: 2vmin 0 0 0;
  font-size: 1.2em;
}

.gh-author-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gh-author-links a {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 0 0.75vmin;
}

.gh-author-links a + a:before {
  display: block;
  content: "";
  margin: 0 1.25vmin 0 0;
  height: 1em;
  width: 1px;
  background: rgba(0, 0, 0, 0.3);
  transform: rotate(20deg);
}

@media (max-width: 700px) {
  .gh-author-meta {
    font-size: 1.6rem;
  }
}
