/* Lib - Local component imports
/* ---------------------------------------------------------- */

@import "partials/section.css";
@import "partials/pill.css";

/* Base components */
@import "vars.css";
@import "components/global.css";
@import "components/forms.css";
@import "components/buttons.css";
@import "components/list.css";
@import "components/card.css";
/* Ghost components */
@import "ghost/header.css";
@import "ghost/content.css";
@import "ghost/members.css";
@import "ghost/footer.css";

@import "toc.css";
@import "tmp.css";
/* Tailwindcss components */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset
/* ---------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #464646;
  font-family: var(--font-sans-serif);
  font-style: normal;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply break-keep;
}

p,
ul,
ol,
li,
dl,
dd,
hr,
pre,
form,
table,
video,
figure,
figcaption,
blockquote {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
select,
textarea {
  font: inherit;
  -webkit-appearance: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

label {
  display: block;
  font-weight: 700;
}

hr {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  border-top: 1px solid currentcolor;
  opacity: 0.2;
}

::selection {
  text-shadow: none;
  background: #cbeafb;
}

mark {
  background-color: #fdffb6;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

ul:not([class]) li + li {
  margin-top: 0.6em;
}

a:not([class]) {
  color: var(--color-primary);
  text-decoration-skip-ink: auto;
}

a[class] {
  text-decoration: none;
  transition: 0.4s ease;
}

a[class]:hover {
  transition: 0.2s ease;
}

h1 {
  @apply font-bold text-4xl;
}
h2 {
  @apply font-bold text-3xl;
}
h3 {
  @apply font-bold text-2xl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply my-4;
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.7rem;
  }
}

h2 {
  font-size: 3.6rem;
}
@media (max-width: 500px) {
  h2 {
    font-size: 2.2rem;
  }
}

h3 {
  font-size: 3.2rem;
}
@media (max-width: 500px) {
  h3 {
    font-size: 1.8rem;
  }
}

h4 {
  font-size: 2.6rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 2.2rem;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

/* Read More
/* ---------------------------------------------------------- */

/* .gh-readmore {
  padding: 4rem 1rem;
}

.gh-readmore a {
  display: flex;
  color: currentColor;
  text-decoration: none;
}

.gh-readmore h4 {
  width: 100%;
  @apply text-2xl;
}

@media (max-width: 700px) {
  .gh-readmore h4 {
    @apply text-base;
  }
} */

.gh-pagination .pagination {
  display: flex;
  justify-content: space-between;
  margin-block: 4vmin;
}

.logo {
  max-height: 192px;
}

.kg-bookmark-title {
  @apply text-xl !important;
}
.kg-bookmark-description {
  @apply text-base !important;
}
.kg-bookmark-metadata {
  @apply text-base !important;
}
.kg-bookmark-publisher::before {
  content: "|" !important;
}

#ghost-portal-root,
.footer-cta {
  display: none;
}

.u-shadow {
  overflow: hidden;
  border-radius: 0.75rem;
  box-shadow: var(--shadow-base);
  transition: box-shadow 0.3s var(--animation-base);
}

.u-placeholder {
  position: relative;
  z-index: 10;
  background-color: var(--light-gray-color);
}

.same-height {
  height: 0;
}

.rectangle {
  padding-bottom: 56.25%;
}

.u-object-fit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.u-permalink {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  outline: none;
}

.shadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
}

.bg-light {
  @apply bg-gray-100 dark:bg-gray-950;
  @apply text-gray-950 dark:text-gray-100;
}

.bg-heavy {
  @apply bg-gray-50 dark:bg-gray-900 shadow;
}

.gh-main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.gh-article {
}

.gh-container {
  width: 100%;
  max-width: var(--large);
  margin-left: auto;
  margin-right: auto;
  @apply px-2;
}

.gh-container-sm {
  width: 100%;
  max-width: var(--small);
  margin-left: auto;
  margin-right: auto;
  @apply px-2;
}

.gh-head-actions a:not(.gh-button) {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 10px;
}

.gh-head-actions a svg {
  height: 1.8rem;
  fill: currentcolor;
}

.gh-head-actions a:first-child svg {
  margin-left: 20px;
}

.gh-head-actions a:last-child svg {
  height: 2rem;
}

/* Page
/* ---------------------------------------------------------- */

/* .gh-page-head {
  margin: 0 auto;
  padding: 8vmin 0 4vmin;
  text-align: center;
} */

.gh-page-image {
  margin: 4vmin 0 0 0;
}
/* 
.gh-page-head > p {
  max-width: var(--small);
  margin: 0.3em auto 0;
  padding: 0 6vmin;
  font-size: 1.3em;
  line-height: 1.4em;
  opacity: 0.5;
} */

@media (max-width: 768px) {
  .gh-page {
    @apply mx-4;
  }

  .gh-page-head > p {
    font-size: 1.6rem;
  }
}

/* Post
/* ---------------------------------------------------------- */

.gh-post-footer {
  margin: 2rem 0;
}

/* Author Archive
/* ---------------------------------------------------------- */

.gh-author-image {
  height: 12vmin;
  width: 12vmin;
  margin: 0 auto 1.5em;
  border-radius: 100%;
  overflow: hidden;
  object-fit: cover;
}

.gh-author-meta {
  margin: 2vmin 0 0 0;
  font-size: 1.2em;
}

.gh-author-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gh-author-links a {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 0 0.75vmin;
}

.gh-author-links a + a:before {
  display: block;
  content: "";
  margin: 0 1.25vmin 0 0;
  height: 1em;
  width: 1px;
  background: rgba(0, 0, 0, 0.3);
  transform: rotate(20deg);
}

@media (max-width: 700px) {
  .gh-author-meta {
    font-size: 1.6rem;
  }
}
