.gh-content {
  position: relative;
}

.gh-toc {
  @apply h-fit;
}

.gh-toc > .toc-list {
  overflow: hidden;
  list-style: none;
  @apply bg-heavy p-4 rounded-xl h-fit mb-8;
}

.toc-list li li {
  position: relative;
  @apply ms-4;
}

.gh-toc a {
  position: relative;
  display: block;
  @apply px-1 rounded break-keep w-fit;
  @apply h-fit !important;
}

.gh-toc a::before {
  background: transparent;
}

@media (min-width: 1300px) {
  .gh-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    grid-column: full-start / main-start; /* Place the TOC to the left of the content */
    @apply w-full flex justify-end;
  }

  .gh-toc {
    position: sticky; /* On larger screens, TOC will stay in the same spot on the page */
    top: 6rem;
    max-width: 360px;
    @apply w-fit;
  }

  .gh-toc > .toc-list {
    @apply me-8;
  }
}

.is-active-link {
  display: block;
  background-color: var(--ghost-accent-color);
  @apply text-gray-950 !important;
  @apply w-fit;
}
