.card {
  @apply overflow-hidden relative rounded;
}

.card.featured {
  position: relative;
}

.card a {
  height: 100%;
  width: 100%;
}

.card-desc {
  position: relative;
  background-color: transparent;
  transition: 0.2s ease;
  @apply pt-2 px-4 pb-4;
}

/* list-article */

.card-article .card-image {
  height: 160px;
  @apply m-2 rounded overflow-hidden;
}

.card-article .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @apply object-cover;
}

.card-article .img {
  width: 100%;
  height: 100%;
  background-color: var(--tag-color, var(--ghost-accent-color));
}
/*
.card-article.featured {
  @apply shadow bg-heavy;
}
*/

.section-card-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @apply gap-x-4 gap-y-8;
}

.section-card-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @apply gap-x-4 gap-y-8;
}

@media (max-width: 767px) {
  .section-card-4 {
    grid-template-columns: 1fr;
  }
  .section-card-2 {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-card-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-card-2 {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-card-4 {
    grid-template-columns: repeat(3, 1fr);
  }
}
