.list {
  @apply overflow-hidden relative rounded-xl;
}

.list.featured {
  position: relative;
}

.list a {
  width: 100%;
}

.list-desc {
  position: relative;
  background-color: transparent;
  transition: 0.2s ease;
}

/* list-tag */

.list-tag {
  @apply relative;
}

.list-tag img {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @apply rounded-xl;
}

.list-tag .list-desc {
  @apply text-gray-100;
}

.list-tag.no-image img {
  background: var(--tag-color, var(--ghost-accent-color));
}

.list-tag .list-desc {
  @apply ps-8 pe-12 py-10 hover:px-10;
}

/* list-article */

.list-article {
  @apply mb-8 h-fit;
}

.list-article > a {
  @apply relative flex;
  color: currentColor;
}

.list-article .img {
  width: 256px;
  overflow: hidden;
  @apply m-2 aspect-video;
}

.list-article .img > img {
  @apply rounded;
}

.list-article .list-desc {
  @apply my-4 ms-4 me-8 hover:mx-6;
}

.list-article.no-image .img {
  background: var(--tag-color, var(--ghost-accent-color));
}

.list-article.featured {
  @apply shadow bg-heavy;
}

@media (max-width: 768px) {
  .list-article > a {
    @apply flex-col-reverse;
  }

  .list-article .img {
    width: 100%;
    overflow: hidden;
    margin: 0;
    @apply p-4;
  }
}
