<span
    class="font-semibold shadow inline-block align-middle pill px-4 py-2 text-[1rem] rounded-[2rem] {{color}}"
    {{#if accent_color}}style="--tag-color: {{accent_color}};"{{/if}}
>
  {{> @partial-block}}
</span>