<span
    class="font-semibold shadow inline-block align-middle pill px-2 py-0.5 text-[13px] rounded {{color}}"
    {{#if accent_color}}style="--tag-color: {{accent_color}};"{{/if}}
>
  {{> @partial-block}}
</span>