.hero {
  position: relative;
  grid-column: wide-start / wide-end !important;
  @apply flex flex-col text-gray-100 rounded-xl overflow-hidden my-16;
  @apply p-24;
}

.hero-title {
  position: relative;
  z-index: 20;
  @apply gh-container-sm justify-self-center flex flex-col text-center;
}

.hero-sub {
  display: block;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  opacity: 0.8;
  @apply mb-1 text-base;
}

.hero::before {
  position: absolute;
  inset: 0;
  z-index: 10;
  content: "";
  background: rgba(0, 0, 0, 0.7);
}

.hero-image {
  width: 100%;
}

.hero-image img {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-noimage {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--tag-color, var(--ghost-accent-color));
}

/* featured.hbs */

.section-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

@media (max-width: 767px) {
  .section-card {
    grid-template-columns: 1fr;
  }
  .hero {
    @apply p-4;
  }

  .hero-title {
    @apply p-4;
  }

  .hero-title > div {
    @apply flex-col;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-card {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .is-head-stacked .section-card {
    margin-top: 32px;
  }
}
