.hero-title {
  position: relative;
  z-index: 20;
  @apply grid lib-grid lib-grid-m justify-self-center flex-col text-center;
}

.hero-title-index {
  @apply text-center;
}

.hero-index-profile {
  @apply mx-auto mb-4;
  width: 128px;
  height: 128px;
}

.hero-sub {
  display: block;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  opacity: 0.8;
  @apply mb-1 text-base;
}

.hero::before {
  position: absolute;
  inset: 0;
  z-index: 10;
  content: "";
  background: rgba(0, 0, 0, 0.6);
}

.hero-image {
  width: 100%;
}

.hero-image img {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-noimage {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--tag-color, var(--ghost-accent-color));
}

/* featured.hbs */

@media (max-width: 767px) {
  .hero {
    @apply p-4;
  }

  .hero-title {
    @apply p-4;
  }

  .hero-title > div {
    @apply flex-col;
  }
}
