{{#foreach posts}}
  <article class="list list-article {{post_class}}">
    <a href="{{url}}">
      <div class="list-desc z-10 flex-1">
        <header class="w-full">
          {{#if primary_tag}}
            <div class="mb-2">
              {{> "util/list-tag" nested=true }}
            </div>
          {{/if}}

          <p class="text-2xl break-keep font-bold">
            {{title}}
          </p>

          {{#if excerpt}}
            <div class="break-keep text-sm mt-2">
              {{excerpt words="12"}}
            </div>
          {{/if}}
        </header>
      </div>
      {{!-- {{#if feature_image}} --}}
      <div class="flex flex-col justify-center">
        <div class="img">
          {{#if feature_image}}
          {{> "card/image" href=feature_image size="600px" alt=title class="object-cover object-center h-full w-full"}}
          {{/if}}
        </div>
      </div>
      {{!-- {{/if}} --}}
    </a>
  </article>
{{/foreach}}